---
import Layout from "@layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Bento from "@components/Bento.astro";
// import Bento from "@components/Bento";
import Footer from "@components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <Bento />
  </main>
  <Footer />
</Layout>
