---
import "./src/styles/global.css";
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <body class="bg-brand-beige mx-auto w-9/12 pt-24">
    <slot />
  </body>
</html>
